@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: "Comfortaa", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

.blue {
  background-color: aliceblue;
}

.green {
  background-color: darkseagreen;
}

.purple {
  background-color: mediumorchid;
}

.red {
  background-color: darksalmon;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 0 0 0;
  background-color: #fff3b0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.plant {
  padding: 10px;
}

.plant-catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 3fr));
  gap: 30px;
  padding: 20px;
  background-color: #fff3b0;
  border: 1px solid #404040;
  border-radius: 8%;
}

.plant-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  padding: 24px;
  border: 1px solid #404040;
  border-radius: 10px;
}
